node_modules/
.gradle/
.idea/
*.iml
*.hprof
local.properties
android/app/build/
android/build/
android/app/debug.keystore
android/app/*.keystore
ios/build/
ios/Pods/
.DS_Store
*.log
.env
src/services/socket.ts
src/services/api.ts
quick-rebuild.sh
android/app/src/main/res/xml/network_security_config.xml


# Android build artifacts
android/.gradle/
android/build/
android/app/build/
android/app/.cxx/
